.logs {
	background-color: black;
	color: white;
}

.center {
	display: block;
	text-align: center;
	font-size: large;
}

.description {
	display: inline-block;
}

.pod-label {
	display: block;
	float: left;
	margin-left: 1em;
}