<!DOCTYPE html>
<html>
  <head class="toolbar toolbar-header">
    <title class="title">Kube Monitor</title>
    <link rel="stylesheet" href="../assets/css/photon.min.css">
    <link rel="stylesheet" href="../assets/css/kube.css">
  </head>
  <body>
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <!-- Side bar -->
          <div class="pane pane-sm sidebar">
            <ul id="pod-list" class="list-group">
              <!-- List of pods here -->
            </ul>
          </div>
          <!-- Main Panel -->
          <div class="pane">
            <form>
              <div class="form-group">
                <label class="center">
                  <strong>Logs</strong>
                </label>
                <textarea readonly id="pod-log" class="form-control logs" rows="100"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="../js/main.js"></script>
</html>