<!DOCTYPE html>
<html>
  <head class="toolbar toolbar-header">
    <title class="title">Kube Monitor</title>
    <link rel="stylesheet" href="../assets/css/kube.css">
    <link rel="stylesheet" href="../assets/css/photon.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">    
  </head>
  <body>
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <!-- Side bar -->
          <div class="pane pane-sm sidebar">
            <ul id="pod-list" class="list-group">
              <!-- List of pods here -->
            </ul>
          </div>
          <!-- Main Panel -->
          <div class="pane">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#logs">Logs</a></li>
            <li><a data-toggle="tab" href="#pod-info">Pod Info</a></li>            
          </ul>
          <div class="tab-content">
            <div id="logs" class="tab-pane fade in active">
              <div class="form-group">
                <textarea readonly id="pod-log" class="form-control logs" rows="100"></textarea>
              </div>
            </div>
            <div id="pod-info" class="tab-pane fade">
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="../js/main.js"></script>
</html>